RESULT_OUTPUT_FOLDER_PATH=/Users/seodongjoo/git/iFogSim/results
RESULT_OUTPUT_APP_NAME=multiapps
NUMBER_OF_EDGE=10
USING_FILE_RESULT=1
NUMBER_OF_APP=10
RATIO=1,1,1,1
LOG=1
CLASS1_TRIGGER_TIME(S)=10000
CLASS2_TRIGGER_TIME(S)=10000
CLASS3_TRIGGER_TIME(S)=10000
CLASS4_TRIGGER_TIME(S)=10000
SENSOR_TO_EDGE_LATENCY(S)=0.002
EDGE_TO_FOG_LATENCY(S)=0.01
FOG_TO_CLOUD_LATENCY(S)=0.04
PROCESSING=1
CLASS_NUM=3
SINGLE_APP=1
CLOUD_NETWORK=0
PACKET_LOSS=12
MAX_SIMULATION_TIME=30000
USING_RES_MAP=1
