RESULT_OUTPUT_FOLDER_PATH=/Users/seodongjoo/git/iFogSim/results
RESULT_OUTPUT_APP_NAME=multiapps
NUMBER_OF_EDGE=10
USING_FILE_RESULT=1
NUMBER_OF_APP=10
RATIO=0,0,0,10
LOG=0
CLASS1_TRIGGER_TIME(S)=10000
CLASS2_TRIGGER_TIME(S)=10000
CLASS3_TRIGGER_TIME(S)=10000
CLASS4_TRIGGER_TIME(S)=10000
SENSOR_TO_EDGE_LATENCY(S)=0.02
EDGE_TO_FOG_LATENCY(S)=0.02
FOG_TO_CLOUD_LATENCY(S)=0.04
PROCESSING=1
CLASS_NUM=1
SINGLE_APP=1
CLOUD_NETWORK=0
PACKET_LOSS=4
MAX_SIMULATION_TIME=50000
USING_RES_MAP=0
RUNNING_REGION=10,0,0
APP_MIPS=7255.483985
CLOUD_MIPS=10000
FOG_MIPS=1440.001814
EDGE_MIPS=500.0012681
FOG_APP_MIPS=66474.1351
